@model ImageContestSystem.Web.Models.ViewModels.UserProfileViewModel

@{
    ViewBag.Title = "View profile";
}

<h2>Welcome, @Model.Username</h2>

<div>
    <p>My Contests: @Model.OwnContest</p>
    <p>Participated in Contests: @Model.ParticipatedInContests</p>
    <p>Won Contests: @Model.WonContests</p>
</div>