@model ImageContestSystem.Web.Models.ViewModels.ContestViewModel

@{
    ViewBag.Title = "Contests";
}

<h2>Contests</h2>

@if (TempData["SuccessMessage"] != null)
{
    <br />
    <p class="alert alert-success">@TempData["SuccessMessage"]</p>
}

<div class="container">
    <div class="well well-sm">Title: @Model.Title</div>
    <div class="well well-sm">Description: @Model.Description</div>
</div>

<hr />