@{
    ViewBag.Title = "PastContests";
}

@using ImageContestSystem.Web.Models.ViewModels
@model ICollection<ContestViewModel>

<h2>PastContests</h2>

@foreach (var contest in Model)
{
    <div class="well">
        <div>
            @if (!Request.IsAuthenticated)
            {
                <span>Title:<strong>@contest.Title</strong></span>
            }
            else
            {
                @Html.ActionLink(contest.Title, "View", "Contest",
                    new { Id = contest.Id },
                    new { title = "Go to contest", @class = "btn btn-primary btn-lg" })
            }
        </div>
        <div>Description: @contest.Description</div>
        <div>Participants count: @contest.CountOfParticipants</div>
    </div>
}