@using ImageContestSystem.Web.Models.ViewModels
@model HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Image contest system</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12" id="main-content">
            @Html.Partial("_HomeContent", Model)
        </div>
    </div>
</div>